.cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 3em;
    justify-content: space-between;
    h1{
        width: 100%;
    }
    .cartDetail{
        width: 40%;
        margin-block-end: 3em;
        b{
            color: #fe019a;
        }
    }
    
    .itemCart{
        display: flex;
        flex-direction: row;
        padding: .5em;
        justify-content: center;
        border-bottom: 1px solid #000;
        border-top:1px solid #000; ;
        div{
            padding: 1em;
            width: 40%;
        }
        img{
            width: 10vw;
            object-fit: cover;
        }
     
    }
    .detailItemPay{
        padding: 2em;
        width: 40%;
        background-color:#b388ff;
        margin-block-end: 3em;
        border-radius: 2px;
        h2{
            color: #fff;
        }
    
    }
}

