.CartSide{
    width: 80vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    .cartEmpty{
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h2{
            margin: 0;
            font-size: 1.3em;
        }
    }

    .goRemove{
        display:flex;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        z-index: 1000;
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color:#fe019a;
        }
        svg{
            padding: 0.5em;
        }
    }
 
    .listItemCartSide{
        padding: 0;
        overflow-y: auto;
        max-height: 95%;
        padding-bottom: 10vh;
        margin-block-end: 0;
        margin-block-start: 0;
        // height: 100%;
        .total{
            height: 10vh;
            position: fixed;
            bottom: 0;
            background-color: #e0e0e0;
            width: 80vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        }
        
        .itemCartSide{
            position: relative;
            padding: 1em;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            border:1px solid #e0e0e0;
    
            .detail{
              
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                margin-left: .5em;
                p{
                    margin: 0;
                }
                h3{
                    color:#fe019a;
                }
                .deleteItemCartSide{
                    position: absolute;
                    bottom:10%;
                    right: .5em;
                }
                p{
                    margin-top: .5em;
                }
    
            }
            img{
                width: 30%;
                object-fit: cover;
            }
        }
    } 
 
}

@media #{$medium-and-up}{
    .CartSide{
        width: 25vw;
        .listItemCartSide{
            .total{
                width: 25vw;
            }
            
            .itemCartSide{
                .detail{
                    .deleteItemCartSide{
                        bottom:1em;
                    }
                }
            }
        } 
         .cartEmpty{
        h2{
            margin: 0;
            font-size: 1.5em;
        }
    }

    }
}
