.loader{
    width: 100%;
    height: 80vh;
    display: grid;
    justify-items: center;
    align-items: center;
    div{
        position: relative;
        height: 300px;
        width: 300px;
    }
    .mewo{
        height: 20%;
        position: absolute;
        bottom: 30%;
        right: 60%;
        animation: mewo;
    }
    .tinyZ{
        height: 1em;
        position: absolute;
        top:45%;
        right: 55%;
        animation: tinyZ  infinite 2s cubic-bezier(0.63, -0.06, 0.24, 1.37) ;
    }
    .littleZ{
        height: 2em;
        position: absolute;
        top: 30%;
        right: 45%;
        animation:littleZ infinite 2s cubic-bezier(0.63, -0.06, 0.24, 1.37);
    }
    .bigZ{
        height: 2.5em;
        position: absolute;
        top:15%;
        right: 30%;
        animation: bigZ infinite 2s cubic-bezier(0.63, -0.06, 0.24, 1.37); 
    }

   
}

@keyframes tinyZ {
    0%{filter: opacity(0);}
    20%{filter: opacity(1);}
    100% {filter: opacity(0);}
} 
@keyframes littleZ {
    0%{filter: opacity(0);}
    50%{filter: opacity(1);}
    100% {filter: opacity(0);}
}
@keyframes bigZ {
    0%{filter: opacity(0);}
    80%{filter: opacity(1);}
    100% {filter: opacity(0);}
}