.product{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    img{
        height: 100%;
        width:30% ;
    }
    .product-detail{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50%;
    }
}