form{
    display: flex;
    flex-direction: column;
    width: 100%;
    label{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-block-end: 1em;
        margin-block-start: 1em;
        color: #fff;
        input{
            font-family:'Ubuntu Mono';
            font-size: 100%;
            border-radius: 2px;
            margin-top: 1em;
            border: none;
            background: #b388ff;
            border-bottom: 2px solid #fff;
            &:-internal-autofill-selected {
                appearance:none !important;
                background-image: none !important;
                background-color: #b388ff !important;
                color: fieldtext !important;
            }
        }
       
    }
   
}

