.AddRemove{
    display: flex;
    flex-direction: column;
    width: 100%;
    div{
        display: flex;
        flex-direction: row;
    }
    input{
        border: none;
        width: 6em;
        text-align: center;
    }
    .AddRemove-btn{
        background: #f5cee4;
        // background: #f76bba;
        cursor:pointer
    }
    .add{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .remove{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}