.btn{
    width: 100%;
    color: #fff;
    height: 3em;
    transition: .25s;
    cursor: pointer;
    background: #000;
    border: #000;
    margin-block-start: 1em;
    border-radius: 2px;
    &:hover{
        transition: .25s;
    }
    &:disabled{
        background-color: rgb(139, 138, 138)!important;
        color: #fff;
    }
}