.btn{
    width: 100%;
    background: rgb(139, 138, 138);
    color: #fff;
    height: 3em;
    transition: .25s;
    cursor: pointer;
    margin-block-start: 1em;
    border-radius: 2px;
    &:hover{
        transition: .25s;
    }
}