.Thankyou{
    width: 80%;
    background: #e0e0e0;
    margin: 3em;
    padding: 1em;
    text-align: center;
    h1{
        span{
            color: #fe019a;
        }
    }
    h3{
        span{
            color: #b388ff;
        }
    }

}