.toastify{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:8vh;
    background-color: #fe019a;
    color:#fff;
    border-radius: 2px;
    position: fixed;
    bottom:0;
    animation: toastifyCel 4s;
    box-shadow: 0px -3px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    z-index: 2100;
}
@keyframes toastifyCel{
    0%{
        right: -100%;
    }
    30%{
        right: 0;
    }
    70%{
        right: 0;
    }
    100%{
        right: -100%;
    }
}

@media #{$medium-and-up}{
    .toastify{
        width: 30%;
        bottom:6vh ;
        right: 6vh;
        animation: toastify 4s forwards;
        box-shadow: 5px 6px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
     
    }
}
@keyframes toastify{
    0%{
        bottom:-8vh;
    }
    30%{
        bottom:6vh
    }
    70%{
        bottom:6vh
    }
    100%{
        bottom:-8vh;
    }
}