.card{
    width: calc(100% / 4);
    img{
        width: 100%;
        object-fit: cover;
    }
    .card-detail{
        height: 123px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    div{
        padding: .5em;
    }
}