.card{
    width: calc(100% / 3);

    .addItem{
        background-color:#f5cee4 ;
        width: 1.2em;
        height: 1.2em;
        border-radius: 2px;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
   
    .card-detail{
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
       
        }
        h3{
            width: 100%;
            height: 90px;
        }
        p{
            width: 100%;
            margin:0;
            margin-bottom: 1em;
        }
    div{
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .favAdd{
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    }
}

@media #{$medium-and-up}{
    .card{
        width: calc(100% / 4);
        .card-detail{
            height: 123px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            h3{
                height: 0;
            }
        }
        div{
            padding: .5em;
        }
    }
}