.item-list{
    width: 70%;
    margin-top: 3em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    height: 50vh;
    h2{
        width: 100%;
        text-align: center;
    }
}
