.card{
    width: calc(100% / 4);
    img{
        width: 100%;
        object-fit: cover;
    }
    .card-detail{
        height: 123px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h3{
            width: 100%;
        }
        p{
            width: 50%;
        }
    }
    div{
        padding: .5em;
    }
}