.itemListContainer{
    width: 90%;
    margin-top: 3em;
   
    .item-list{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        box-sizing: border-box;
        h2{
            width: 100%;
            text-align: center;
        }
    }
   
}
@media #{$medium-and-up}{
    .itemListContainer{
        width: 70%;
       
    }

}